<%- include('../partials/header') %>
<h1>Hi <%= user.first_name %>, <%= greeting %></h1>
<p>The current weather in <%= location %> is <%= weather %>.</p>


<!-- dashboard elements to implement -->


<%- include('../partials/footer') %>
